#seccion1desayuno {
    color: $blanco;
    background-image: url(../img/Diseño\ sin\ título\ \(5\)\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 300px;
}

.seccion2desy {
    text-align: center;
}