#seccion1donahoy {
    color: $blanco;
    background-image: url(../img/Dona\ hoy\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 300px;
}

.seccion2dona {
    text-align: center;
}